body
{
background-color:rgb(200,200,255);
}
#hometopid
{
background-color:rgb(240,240,255);
}
#results
{
background-color:rgb(255,10,10);
}
div.headline-name
{
width:450px;
padding:2px;
margin:0px; 
}
h1.headline-name
{
color:rgb(20,20,255);
}
p.p-headline-caption
{
font-family:Arial,Helvetica,sans-serif;
}
.headline-caption
{
color:rgb(50,50,255);
width:450px;
padding:5px;
border:1px solid rgb(200,200,255);
margin:0px; 
}
#home-right-top
{
position:fixed;
right:-50px;
top:25px;
width:300px;
background-color:#b0e0e6;
}
legend.all-search-legend
{
color:rgb(10,10,255);
}
p.all-search-label
{
color:rgb(10,10,255);
}
